<html>

<head>
</head>

<body>
    <app-navbar></app-navbar>



        <div id="d1">
            <ngb-carousel *ngIf="images">
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="../../assets/ok2.jpg" alt="Random first slide">
                    </div>
                    <div class="carousel-caption">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="../../assets/ok.png" alt="Random second slide">
                    </div>
                    <div class="carousel-caption">3
                        <h3>Second slide label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="../../assets/ok3.png" alt="Random third slide">
                    </div>
                    <div class="carousel-caption">
                        <h3>Third slide label</h3>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>

        <br><br>
        <h1 align="center">mes produit</h1>
        <br><br><br><br>

 <div class="container" *ngIf="allProd">

 <!-- <div class="col-6"> -->
  <div class="row" style="display: flex; justify-content: space-around;">
        <div class="card col-auto"  style="width: 18rem;"  *ngFor="let rep of produits">
          <img class="card-img-top" src="{{rep.image}}" alt="Card image cap">
          <div class="card-body">

            <input type="hidden" value="{{rep.id}}" id="id" >

            <h5 class="card-title">{{rep.nom}}</h5>
            <p class="card-text">{{rep.discription}}</p>
            <p class="card-text">prix={{rep.prix}}</p>
            <a href="#" (click)=valider(rep.id) class="btn btn-primary">consuler</a>
          </div>
        </div>
        </div>
      </div>



   <!--   <div class="container" *ngIf="oneProd">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../../assets/1.jpg" alt="Card image cap">
          <div class="card-body">
            <input type="hidden" value="{{produit.id}}" id="id">
            <h5 class="card-title">{{produit.nom}}</h5>
            <p class="card-text">{{produit.discription}}</p>
            <p class="card-text">prix={{produit.prix}}</p>
            <a href="#" (click)=valider(produit.id) class="btn btn-primary">consuler</a>
          <button type="button" (click)="allprod()" >back to </button>
          </div>
        </div>
      </div>-->



      <div class="container"*ngIf="oneProd" >
        <div class="row">
       <div class="col-6">
        <div class="card" style="width: 150%;"  >
        <img class="card-img-top" src="{{produit[0].image}}" alt="Card image cap">
      </div>

      <h2>nom du produit:{{produit[0].nom}}</h2>
<h2>prix:{{produit[0].prix}}dt</h2>
<h3>info:{{produit[0].discription}}</h3>
</div>
    </div>

  <button type="button" (click)="allprod()" >back to </button>
</div>






    <br><br><br><br><br><br><br><br><br><br><br><br>









    <app-footer></app-footer>>

</body>

</html>
