.card {border: 0;}
.card-body {padding: .5rem 0; font-size: 14px;}
.card-title small {font-size: 14px; font-weight: 200;}
.card-text del {font-weight: 200;}
.card-img-overlay button i {font-weight: normal;}
.btn {  padding: .75rem; line-height: 1;}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
  background-color: black;
  color: white;
}
